.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 727px;
}

.u-section-1 .u-group-1 {
  width: 472px;
  min-height: 52px;
  margin: 18px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-1 .u-text-1 {
  text-shadow: 0px 1px 0px rgba(255,255,255,1);
  margin: 7px 3px 0 0;
}

.u-section-1 .u-accordion-1 {
  margin-bottom: 60px;
  margin-top: 18px;
}

.u-section-1 .u-accordion-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  background-image: none;
  margin-bottom: 0;
  padding: 10px 20px;
}

.u-section-1 .u-icon-1 {
  color: rgb(153, 153, 153);
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-1 {
  min-height: 58px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 15px 30px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-style: italic;
  margin: 0 -17px 0 0;
}

.u-section-1 .u-accordion-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  background-image: none;
  margin-bottom: 0;
  padding: 10px 20px;
}

.u-section-1 .u-icon-2 {
  color: rgb(153, 153, 153) !important;
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-2 {
  min-height: 58px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 15px 30px;
}

.u-section-1 .u-text-3 {
  font-style: italic;
  font-weight: 700;
  margin: 0 10px 0 0;
}

.u-section-1 .u-accordion-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  background-image: none;
  margin-bottom: 0;
  padding: 10px 20px;
}

.u-section-1 .u-accordion-pane-3 {
  min-height: 58px;
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 15px 30px;
}

.u-section-1 .u-text-4 {
  font-style: italic;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-accordion-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  background-image: none;
  margin-bottom: 0;
  padding: 10px 20px;
}

.u-section-1 .u-icon-3 {
  color: rgb(153, 153, 153) !important;
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-4 {
  min-height: 58px;
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 15px 30px;
}

.u-section-1 .u-text-5 {
  margin-top: 0;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  background-image: none;
  margin-bottom: 0;
  padding: 10px 20px;
}

.u-section-1 .u-accordion-pane-5 {
  min-height: 58px;
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 15px 30px;
}

.u-section-1 .u-text-6 {
  font-style: italic;
  font-weight: 700;
  margin: 0 17px 0 0;
}

.u-section-1 .u-accordion-item-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  background-image: none;
  margin-bottom: 0;
  padding: 10px 20px;
}

.u-section-1 .u-accordion-pane-6 {
  min-height: 58px;
  background-image: none;
}

.u-section-1 .u-container-layout-7 {
  padding: 15px 30px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-style: italic;
  margin: 0 10px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-accordion-1 {
    margin-top: 30px;
    margin-bottom: -48px;
  }

  .u-section-1 .u-accordion-link-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-accordion-pane-1 {
    height: auto;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    font-size: 1rem;
  }

  .u-section-1 .u-accordion-link-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-accordion-pane-2 {
    height: auto;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    font-size: 1rem;
  }

  .u-section-1 .u-accordion-link-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-accordion-pane-3 {
    height: auto;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-1 .u-accordion-link-4 {
    font-size: 1rem;
  }

  .u-section-1 .u-accordion-pane-4 {
    height: auto;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-1 .u-accordion-link-5 {
    font-size: 1rem;
  }

  .u-section-1 .u-accordion-pane-5 {
    height: auto;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    font-size: 1rem;
  }

  .u-section-1 .u-accordion-link-6 {
    font-size: 1rem;
  }

  .u-section-1 .u-accordion-pane-6 {
    height: auto;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    font-size: 1rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-accordion-1 {
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    min-height: 68px;
    margin-top: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 18px;
  }

  .u-section-1 .u-accordion-1 {
    margin-top: 18px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    min-height: 57px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 15px;
  }

  .u-section-1 .u-accordion-1 {
    margin-top: 12px;
    margin-bottom: 20px;
  }

  .u-section-1 .u-accordion-link-1 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-accordion-link-2 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-accordion-link-3 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-accordion-pane-3 {
    min-height: 117px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 10px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    font-size: 0.875rem;
  }

  .u-section-1 .u-accordion-link-4 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-text-5 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-accordion-link-5 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-accordion-pane-5 {
    min-height: 117px;
  }

  .u-section-1 .u-text-6 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-accordion-link-6 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-accordion-pane-6 {
    min-height: 117px;
  }

  .u-section-1 .u-text-7 {
    font-size: 0.875rem;
  }
}