.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/thumb_auto_x1_colored_toned.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 820px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 679px;
  margin: 20px auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 329px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 20px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-family: "Bigshot One";
  margin: 0 20px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-family: "Antic Slab";
  margin: 0 20px 0 0;
}

.u-section-1 .u-video-1 {
  width: 887px;
  height: 499px;
  margin: -68px auto 40px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 935px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
    width: 717px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 572px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-right: 36px;
  }

  .u-section-1 .u-text-2 {
    position: relative;
    margin-right: 82px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 121px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 566px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 624px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 79px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 150px;
  }

  .u-section-1 .u-video-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 402px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 641px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 9px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 9px;
  }

  .u-section-1 .u-video-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 338px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 654px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 6px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 6px;
  }

  .u-section-1 .u-video-1 {
    width: 340px;
  }
}.u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/Capture.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 630px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 21px;
  margin-bottom: 21px;
}

.u-section-2 .u-image-1 {
  min-height: 619px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/Bild1.jpg");
  background-position: 49.66% 0%;
  background-size: auto 135%;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-1 {
  font-family: "Bigshot One";
  font-weight: 400;
  font-size: 3rem;
  margin: 55px 0 0;
}

.u-section-2 .u-text-2 {
  font-family: "Antic Slab";
  font-weight: 400;
  font-style: normal;
  font-size: 1.125rem;
  margin: 21px 0 0 26px;
}

.u-section-2 .u-image-2 {
  min-height: 619px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/Capture.png");
  background-position: 50% 50%;
}

.u-section-2 .u-text-3 {
  font-family: "Bigshot One";
  font-weight: 400;
  font-size: 3rem;
  margin: 55px 34px 0;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  font-family: "Antic Slab";
  width: 256px;
  font-size: 1.125rem;
  margin: 19px auto 0;
}

.u-section-2 .u-image-3 {
  min-height: 619px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/Bild2.png");
  background-position: 50% 50%;
}

.u-section-2 .u-text-5 {
  font-family: "Bigshot One";
  font-weight: 400;
  font-size: 3rem;
  margin: 55px 34px 0;
}

.u-section-2 .u-text-6 {
  font-style: italic;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  font-size: 1.125rem;
  font-family: "Antic Slab";
  font-weight: 400;
  margin: 20px 34px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 411px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-image-1 {
    min-height: 605px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    min-height: 605px;
  }

  .u-section-2 .u-text-3 {
    position: relative;
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-2 .u-text-4 {
    position: relative;
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-2 .u-image-3 {
    min-height: 605px;
  }

  .u-section-2 .u-text-5 {
    position: relative;
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-2 .u-text-6 {
    position: relative;
    margin-left: 28px;
    margin-right: 28px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 292px;
  }

  .u-section-2 .u-image-1 {
    min-height: 391px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-2 .u-image-2 {
    min-height: 391px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 21px;
    margin-right: 21px;
    width: 220px;
  }

  .u-section-2 .u-image-3 {
    min-height: 391px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 21px;
    margin-right: 21px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1661px;
  }

  .u-section-2 .u-image-1 {
    min-height: 880px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-2 .u-image-2 {
    min-height: 880px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 129px;
    margin-right: 171px;
    margin-left: 141px;
  }

  .u-section-2 .u-image-3 {
    min-height: 880px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1009px;
  }

  .u-section-2 .u-image-1 {
    min-height: 554px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-image-2 {
    min-height: 554px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-3 {
    min-height: 554px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 10px;
    margin-right: 10px;
  }
}.u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/Capture.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 601px;
}

.u-section-3 .u-text-1 {
  line-height: 1.3;
  font-weight: 400;
  font-family: "Bigshot One";
  width: 700px;
  font-size: 3rem;
  margin: 0 auto;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 9px auto 0 231px;
  padding: 10px 26px 10px 25px;
}

.u-section-3 .u-image-1 {
  width: 430px;
  height: 117px;
  margin: 18px auto 0 336px;
}

.u-section-3 .u-text-2 {
  line-height: 1.3;
  width: 829px;
  font-weight: 400;
  font-family: "Bigshot One";
  font-size: 3rem;
  margin: 16px auto 0;
}

.u-section-3 .u-image-2 {
  width: 151px;
  height: 151px;
  margin: 15px auto 0;
}

.u-section-3 .u-image-3 {
  width: 156px;
  height: 156px;
  margin: -161px auto 0 291px;
}

.u-section-3 .u-image-4 {
  width: 141px;
  height: 141px;
  margin: -141px 307px 26px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 718px;
  }

  .u-section-3 .u-btn-1 {
    font-size: 3rem;
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 11px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 26px;
    margin-left: 237px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 18px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 20px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -158px;
    margin-right: 158px;
    margin-left: auto;
  }

  .u-section-3 .u-image-4 {
    margin: -148px auto 60px 172px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 591px;
  }

  .u-section-3 .u-text-1 {
    height: 39px;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }

  .u-section-3 .u-image-3 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-3 .u-image-4 {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 767px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 110px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-image-4 {
    margin-top: 20px;
    margin-left: auto;
    margin-bottom: 26px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 471px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 11px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    font-size: 0.75rem;
    margin-top: 7px;
    padding-right: 21px;
    padding-left: 21px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 92px;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
    font-size: 1.875rem;
  }

  .u-section-3 .u-image-2 {
    width: 91px;
    height: 91px;
    margin-top: 9px;
  }

  .u-section-3 .u-image-3 {
    width: 98px;
    height: 98px;
    margin-top: -98px;
    margin-left: 12px;
  }

  .u-section-3 .u-image-4 {
    width: 85px;
    height: 85px;
    margin-top: -91px;
    margin-right: 18px;
    margin-bottom: 36px;
  }
}