/* Main */
body { 
	margin: 0; line-height: 1.42857143;
	font-family: 'Varela Round', sans-serif; font-style: normal; font-weight: 400; font-size: 14px;
	box-sizing: border-box;
}
#top { background-color: #35383D; }
* { box-sizing: border-box; }
/* Animations */
.animated { -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both; }
.fadeInDown{ -webkit-animation: 3s ease 0s normal forwards 1 fadeInDown; animation: 3s ease 0s normal forwards 1 fadeInDown; -webkit-animation-name: fadeInDown; animation-name: fadeInDown; }
@keyframes fadeInDown { 0% { opacity:0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); } 80% { opacity:1; -webkit-transform: translateY(0px); -ms-transform: translateY(0px); transform: translateY(0px); } 100% { opacity:1; } }
@-webkit-keyframes fadeInDown { 0% { opacity:0; -webkit-transform: translateY(-20px); transform: translateY(-20px); } 80% { opacity:1; -webkit-transform: translateY(0px); transform: translateY(0px); } 100% { opacity:1; } }
.fadeInUp { -webkit-animation-name: fadeInUp; animation-name: fadeInUp; }
@keyframes fadeInUp { 0% { opacity:0; -webkit-transform: translateY(20px); -ms-transform: translateY(20px); transform: translateY(20px); } 80% { opacity:1; -webkit-transform: translateY(0px); -ms-transform: translateY(0px); transform: translateY(0px); } 100% { opacity:1; } }
@-webkit-keyframes fadeInUp { 0% { opacity:0; -webkit-transform: translateY(20px); transform: translateY(20px); } 80% { opacity:1; -webkit-transform: translateY(0px); transform: translateY(0px); } 100% { opacity:1; } }
.delay-01s { animation-delay: 1s; -webkit-animation-delay: 1s; }
.delay-02s { animation-delay: 2s; -webkit-animation-delay: 2s; }
/* Main Content */
.hero { 
	height: 100%; width: 100%; position: absolute;
	display: flex; align-items: center;
	bottom: 4em;
}
.hero-webp { background: url('../img/hero-bg.webp') no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
.hero-nowebp { background: url('../img/hero-bg.jpg') no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
.hero h1 { font-weight: 500; font-size: 60px; letter-spacing: 12px; margin: 10px; line-height: 1.1; margin: .67em 0; }
.hero p { letter-spacing: 1px; font-size: 30px;}
/* Layout */
.row {
	align-content: center;
	margin-left: -15px;
    margin-right: -15px;
}
.text-center { text-align: center; }
.col-md-6 { width: 35%; }
.col-md-8 { width: 66.66666667%; }
.col-md-12 { width: 100%; }
.col-md-6, .col-md-12 {
	position: relative; float: left;
	min-height: 1px;
	padding-left: 15px; padding-right: 15px;
}
.container {
	width: 100%;
	margin-right: auto; margin-left: auto;
    padding-left: 15px; padding-right: 15px;
}
.container:before, .container:after { content: " "; display: table; }
/* Social Buttons */
ul, ol { margin: 1em 0; text-align: center; }
.social-buttons { margin-block-start: 0em; margin-block-end: 0em; margin-inline-start: 0px; margin-inline-end: 0px; padding-inline-start: 0px; }
ul.social-buttons li { display: inline-block; margin-right: 10px; }
.social-btn { 
	width: 150px; height: 150px; 
	border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 10%; -o-border-radius: 50%; 
	display: inline-block; color: #333; font-size: 100px; line-height: 200px;
	-webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; 
}
.social-btn:hover, .social-btn:focus { color: #888; }

/* Footer */
p { margin-block-start: 0em; margin-block-end: 0em; }
a { color: #a1a9b0; text-decoration: none;}
footer { background-color: #242830; position: fixed; bottom: 0; width: 100%; height: 4em;}
.footer { margin-left: 15%; }
.legals { text-align: left; line-height: 25px; margin-top: 1em; margin-bottom: 1em; }
.credit { text-align: right; margin-top: 1em; margin-bottom: 1em; line-height: 25px; color: #fff; }